0, startCode, tk_abre_bloco, <VARIABLE_LIST>, <COMMAND_LIST>, tk_fecha_bloco, endCode
1, <VARIABLE>, <VARIABLE_LIST>
2, î
3, <TYPE_VARIABLE>, <ATRIB>, tk_final
4, char, <LOGIC>
5, int
6, char
7, integer
8, Str
9, <COMMAND>, <COMMAND_LIST>
10, î
11, <INPUT_CMD>
12, <OUTPUT_CMD>
13, <CONDITIONAL_CMD>
14, <MATH_CMD>
15, <LOOP_CMD>
16, inputKey, tk_abre_parenteses, char, tk_fecha_parenteses, tk_final
17, outputKey, tk_abre_parenteses, <SENTENCE>, tk_fecha_parenteses, tk_final
18, <IF>, <ELSE>, tk_final
19, char, tk_atrib, <ID_ARITHMETIC>, tk_final
20, <WHILE_LOOP>
21, if, tk_abre_parenteses, <ID_LOGIC>, tk_fecha_parenteses, tk_abre_bloco, <COMMAND_LIST>, tk_fecha_bloco
22, else, tk_abre_bloco, <COMMAND_LIST>, tk_fecha_bloco
23, î
24, while, tk_abre_parenteses, <ID_LOGIC>, tk_fecha_parenteses, tk_abre_bloco, <COMMAND_LIST>, tk_fecha_bloco, tk_final
25, char, <LOGIC>
26, integer, <LOGIC>
27, tk_maior_que, <ID_LOGIC>
28, tk_menor_que, <ID_LOGIC>
29, tk_igual, <ID_LOGIC>
30, tk_maior_igual_que, <ID_LOGIC>
31, tk_menor_igual_que, <ID_LOGIC>
32, tk_diferente, <ID_LOGIC>
33, î
34, integer, <ARITHMETIC>
35, char, <ARITHMETIC>
36, tk_subtracao, <ID_ARITHMETIC>
37, tk_maior_que, <ID_ARITHMETIC>
38, tk_abre_parenteses, <ID_ARITHMETIC>, tk_fecha_parenteses, <ARITHMETIC>
39, tk_final
40, tk_soma, <ID_ARITHMETIC>
41, tk_subtracao, <ID_ARITHMETIC>
42, tk_multiplicacao, <ID_ARITHMETIC>
43, tk_divisao, <ID_ARITHMETIC>
44, tk_abre_parenteses, <ID_ARITHMETIC>, tk_fecha_parenteses, <ARITHMETIC>
45, î
