0, startCode, tk_abre_bloco, <VARIABLE_LIST>, <COMMAND_LIST>, tk_fecha_bloco, endCode
1, <VARIABLE>, <VARIABLE_LIST>
2, î
3, <TYPE_VARIABLE>, <ATRIB>, tk_final
4, char, <LOGIC>
5, int
6, char
7, integer
8, Str
9, <COMMAND>, <COMMAND_LIST>
10, î
11, <INPUT_CMD>
12, <OUTPUT_CMD>
13, <CONDITIONAL_CMD>
14, <MATH_CMD>
15, <LOOP_CMD>
16, inputKey, tk_abre_parenteses, char, tk_fecha_parenteses, tk_final
17, outputKey, tk_abre_parenteses, <SENTENCE>, tk_fecha_parenteses, tk_final
18, <IF>, <ELSE>, tk_final
19, char, tk_atrib, <ID_ARITHMETIC>, tk_final
20, <DO_LOOP>
21, if, tk_abre_parenteses, <ID_LOGIC>, tk_fecha_parenteses, tk_abre_bloco, <COMMAND_LIST>, tk_fecha_bloco
22, else, tk_abre_bloco, <COMMAND_LIST>, tk_fecha_bloco
23, î
24, do, tk_abre_bloco, <COMMAND_LIST>, tk_fecha_bloco, until, tk_abre_parenteses, <ID_LOGIC>, tk_fecha_parenteses, tk_final
25, char, <LOGIC>
26, integer, <LOGIC>
27, tk_maior_que, <ID_LOGIC>
28, tk_menor_que, <ID_LOGIC>
29, tk_igual, <ID_LOGIC>
30, î
31, integer, <ARITHMETIC>
32, char, <ARITHMETIC>
33, tk_subtracao, <ID_ARITHMETIC>
34, tk_maior_que, <ID_ARITHMETIC>
35, tk_abre_parenteses, <ID_ARITHMETIC>, tk_fecha_parenteses, <ARITHMETIC>
36, tk_final
37, tk_soma, <ID_ARITHMETIC>
38, tk_subtracao, <ID_ARITHMETIC>
39, tk_multiplicacao, <ID_ARITHMETIC>
40, tk_divisao, <ID_ARITHMETIC>
41, tk_abre_parenteses, <ID_ARITHMETIC>, tk_fecha_parenteses, <ARITHMETIC>
42, î
