startCode, startCode
endCode, endCode
inputKey, inputKey
outputKey, outputKey
if, if
else, else
int, int
do, do
until, until
tk_abre_parenteses, (
tk_fecha_parenteses, )
tk_abre_bloco, {
tk_fecha_bloco, }
tk_final, ;
tk_igual, =
tk_soma, +
tk_subtracao, -
tk_multiplicacao, *
tk_divisao, /
tk_maior_que, >
tk_menor_que, <
tk_atrib, <<
