<PROGRAM>, startCode, 0
<VARIABLE_LIST>, char, 2
<VARIABLE_LIST>, inputKey, 2
<VARIABLE_LIST>, outputKey, 2
<VARIABLE_LIST>, if, 2
<VARIABLE_LIST>, do, 2
<VARIABLE_LIST>, while, 2
<VARIABLE_LIST>, int, 1
<VARIABLE_LIST>, tk_fecha_bloco, 2
<VARIABLE>, int, 3
<ATRIB>, char, 4
<TYPE_VARIABLE>, int, 5
<SENTENCE>, char, 6
<SENTENCE>, integer, 7
<SENTENCE>, Str, 8
<COMMAND_LIST>, char, 9
<COMMAND_LIST>, inputKey, 9
<COMMAND_LIST>, outputKey, 9
<COMMAND_LIST>, if, 9
<COMMAND_LIST>, do, 9
<COMMAND_LIST>, while, 9
<COMMAND_LIST>, tk_fecha_bloco, 10
<COMMAND>, char, 14
<COMMAND>, inputKey, 11
<COMMAND>, outputKey, 12
<COMMAND>, if, 13
<COMMAND>, do, 15
<COMMAND>, while, 15
<INPUT_CMD>, inputKey, 16
<OUTPUT_CMD>, outputKey, 17
<CONDITIONAL_CMD>, if, 18
<MATH_CMD>, char, 19
<LOOP_CMD>, do, 20
<LOOP_CMD>, while, 21
<IF>, if, 22
<ELSE>, else, 23
<ELSE>, tk_final, 24
<DO_LOOP>, do, 25
<WHILE_LOOP>, while, 26
<ARITHMETIC>, tk_abre_parenteses, 43
<ARITHMETIC>, tk_fecha_parenteses, 44
<ARITHMETIC>, tk_final, 44
<ARITHMETIC>, tk_soma, 39
<ARITHMETIC>, tk_subtracao, 40
<ARITHMETIC>, tk_multiplicacao, 41
<ARITHMETIC>, tk_divisao, 42
<ID_ARITHMETIC>, char, 34
<ID_ARITHMETIC>, integer, 33
<ID_ARITHMETIC>, tk_abre_parenteses, 37
<ID_ARITHMETIC>, tk_final, 38
<ID_ARITHMETIC>, tk_subtracao, 35
<ID_ARITHMETIC>, tk_maior_que, 36
<LOGIC>, tk_fecha_parenteses, 32
<LOGIC>, tk_final, 32
<LOGIC>, tk_igual, 31
<LOGIC>, tk_menor_que, 30
<LOGIC>, tk_maior_que, 29
<ID_LOGIC>, char, 27
<ID_LOGIC>, integer, 28
