<PROGRAM>, startCode, 0
<VARIABLE_LIST>, char, 2
<VARIABLE_LIST>, inputKey, 2
<VARIABLE_LIST>, outputKey, 2
<VARIABLE_LIST>, if, 2
<VARIABLE_LIST>, do, 2
<VARIABLE_LIST>, int, 1
<VARIABLE_LIST>, tk_fecha_bloco, 2
<VARIABLE>, int, 3
<ATRIB>, char, 4
<TYPE_VARIABLE>, int, 5
<SENTENCE>, char, 6
<SENTENCE>, integer, 7
<SENTENCE>, Str, 8
<COMMAND_LIST>, char, 9
<COMMAND_LIST>, inputKey, 9
<COMMAND_LIST>, outputKey, 9
<COMMAND_LIST>, if, 9
<COMMAND_LIST>, do, 9
<COMMAND_LIST>, until, 10
<COMMAND_LIST>, tk_fecha_bloco, 10
<COMMAND>, char, 14
<COMMAND>, inputKey, 11
<COMMAND>, outputKey, 12
<COMMAND>, if, 13
<COMMAND>, do, 15
<INPUT_CMD>, inputKey, 16
<OUTPUT_CMD>, outputKey, 17
<CONDITIONAL_CMD>, if, 18
<MATH_CMD>, char, 19
<LOOP_CMD>, do, 20
<IF>, if, 21
<ELSE>, else, 22
<ELSE>, tk_final, 23
<DO_LOOP>, do, 24
<ARITHMETIC>, tk_abre_parenteses, 41
<ARITHMETIC>, tk_fecha_parenteses, 42
<ARITHMETIC>, tk_final, 42
<ARITHMETIC>, tk_soma, 37
<ARITHMETIC>, tk_subtracao, 38
<ARITHMETIC>, tk_multiplicacao, 39
<ARITHMETIC>, tk_divisao, 40
<ID_ARITHMETIC>, char, 32
<ID_ARITHMETIC>, integer, 31
<ID_ARITHMETIC>, tk_abre_parenteses, 35
<ID_ARITHMETIC>, tk_final, 36
<ID_ARITHMETIC>, tk_subtracao, 33
<ID_ARITHMETIC>, tk_maior_que, 34
<LOGIC>, tk_fecha_parenteses, 30
<LOGIC>, tk_final, 30
<LOGIC>, tk_igual, 29
<LOGIC>, tk_maior_que, 27
<LOGIC>, tk_menor_que, 28
<ID_LOGIC>, char, 25
<ID_LOGIC>, integer, 26
