<PROGRAM>, startCode, 0
<VARIABLE_LIST>, char, 2
<VARIABLE_LIST>, inputKey, 2
<VARIABLE_LIST>, outputKey, 2
<VARIABLE_LIST>, if, 2
<VARIABLE_LIST>, do, 2
<VARIABLE_LIST>, int, 1
<VARIABLE_LIST>, tk_fecha_bloco, 2
<VARIABLE>, int, 3
<ATTRIB>, char, 4
<TYPE_VARIABLE>, int, 5
<SENTENCE>, char, 6
<SENTENCE>, integer, 7
<SENTENCE>, Str, 8
<COMMAND_LIST>, char, 9
<COMMAND_LIST>, inputKey, 9
<COMMAND_LIST>, outputkey, 9
<COMMAND_LIST>, if, 9
<COMMAND_LIST>, do, 9
<COMMAND_LIST>, until, 10
<COMMAND_LIST>, tk_fecha_bloco, 10
<COMMAND>, char, 14
<COMMAND>, inputkey, 11
<COMMAND>, outputkey, 12
<COMMAND>, if, 13
<COMMAND>, do, 15
<INPUT_CMD>, inputKey, 16
<OUTPUT_CMD>, outputkey, 17
<CONDITIONAL_CMD>, if, 18
<MATH_CMD>, char, 19
<LOOP_CMD>, do, 20
<IF>, if, 21
<ELSE>, else, 22
<DO_LOOP>
<ARITHMETIC>
<ID_ARITHMETIC>
<LOGIC>
<ID_LOGIC>

char	integer	Str	startCode	endCode	inputKey	outputKey	if	else	do	until	int	tk_abre_parenteses	tk_fecha_parenteses	tk_abre_bloco	tk_fecha_bloco	tk_abre_aspas	tk_fecha_aspas	tk_final	tk_atrib	tk_igual	tk_soma	tk_subtracao	tk_multiplicacao	tk_divisao	tk_maior_que	tk_menor_que