# Initial State -- Do not delete this line
q0
# Finish States -- Do not delete this line
q9, startCode
q16, endCode
q24, inputKey
q33, outputKey
q34, if
q37, else
q38, int
q40, do
q45, until
q46, tk_abre_parenteses
q47, tk_fecha_parenteses
q48, tk_abre_bloco
q49, tk_fecha_bloco
q50, tk_final
q52, tk_igual
q53, tk_soma
q54, tk_subtracao
q55, tk_multiplicacao
q56, tk_divisao
q57, tk_maior_que
q58, tk_menor_que
q59, tk_attrib
q62, Str
q63, char
q64, integer